.gamecol {
  text-align: center;
  padding: 2.5rem 0;
  margin: 0.5rem;
  border-radius: 10px;
  background-color: rgba(247, 247, 255, 1);
  color: black;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.rescol {
  text-align: center;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  border-radius: 10px;
  background-color: rgba(247, 247, 255, 1);
  color: black;
}

.chat {
  border-radius: 10px;
  background-color: rgba(247, 247, 255, 1);
  height: 80vh;
  min-width: 20rem;
  text-align: center;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.w-85 {
  width: 85% !important;
}

.clr1 {
  background-color: rgba(33, 45, 64, 1);
  color: white;
}

.clr2 {
  background-color: rgba(171, 78, 104, 1);
  color: white;
}

.clr3 {
  background-color: rgba(6, 214, 160, 1);
  color: white;
}

.clr4 {
  background-color: rgba(145, 145, 233, 1);
  color: white;
}

input {
  padding: 0.25rem 0.75rem;
  background-color: rgba(255,255,255, 0);
  border: 2px solid rgba(0,0,0, 0.15);
  border-radius: 0.25rem;
  outline: none;
}